/* Layout Template */
.template-layout {
  min-height: 100vh;
  width: 100%;
}

.template-header {
  background: #fa541c;
  border-bottom: 1px solid #ff7a45;
  padding: 0;
  height: auto;
  width: 100%;
}

.template-content {
  padding: 24px 0;
  background: #fff;
  width: 100%;
  flex: 1;
}

.template-content-container {
  width: 950px;
  margin: 0 auto;
  padding: 0 24px;
}

.template-footer {
  text-align: center;
  background: #fff1e8; /* Volcano 50 */
  border-top: 1px solid #ffbb96; /* Volcano 200 */
  color: #871400; /* Volcano 800 */
  width: 100%;
}

/* Header Page Menu */
.header-menu-container {
  width: 950px;
  margin: 0 auto;
  padding: 16px 24px;
}

.header-menu-container a {
  color: white;
}

.header-menu-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

